.navbartop {
    background-color: #fff;
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;}

a#other {
    float: right;
    display: block;
    color: #000000de;
    padding: 18px 8px;
    font-size: 13px;
    font-family: arial;
    line-height: 24px;
    white-space: nowrap;
}

a#signin{
    float: right;
    display: inline-block;
    color: #000000de;
    font-size: 13px;
    font-family: arial;
    line-height: 24px;
    white-space: nowrap;
    padding-right: 35px;
    padding-top: 15px;
    padding-left: 5px;
}

.navbarbot {
    overflow: hidden;
    background-color: rgb(243, 243, 242);
    position: fixed;
    bottom: 0;
    width: 100%;
    border: 1px solid #e4e4e4;
}

a#left {
    float: left;
    display: block;
    color: #666666;
    text-decoration: none;
    font-family: arial;
    font-size: 13px;
    line-height: 40px;
    margin-left: 30px;
}

a#right {
    float: right;
    display: block;
    color: #666666;
    text-decoration: none;
    font-family: arial;
    font-size: 13px;
    line-height: 40px;
    margin-right: 30px;
}
.navbarvn {
    overflow: hidden;
    background-color: rgb(243, 243, 242);
    position: fixed;
    bottom: 40px;
    width: 100%;
    border: 1px solid #e4e4e4;
}

.navbarvn a {
    float: left;
    display: block;
    color: #666666;
    text-decoration: none;
    font-family: arial;
    font-size: 15px;
    line-height: 40px;
    padding-left: 30px;
}

.main {
    margin-top: 200px;
}

input#searchbox {
    width: 570px;
    height: 44px;
    margin-top: 20px;
    box-sizing: border-box;
    border: 1px;
    border-color: grey;
    box-shadow: 1px 1px 5px grey;
    background-image: url("images/microphone.png");
    background-position: 97% 50% ;
    background-repeat: no-repeat;
    background-size: 25px 25px;
}

input#gs {
    font-family: arial;
    font-size: 13px;
    font-weight: bold;
    color: #757575;
    background-color:#f2f2f2;
    margin-top: 20px;
    padding: 10px 15px;
    margin-right: 5px;
    border: 1px;
    border-color: grey;
}

input#ifl {
    font-family: arial;
    font-size: 13px;
    font-weight: bold;
    color: #757575;
    background-color:#f2f2f2;
    margin-top: 20px;
    padding: 10px 15px;
    border: 1px;
    border-color: grey;
}

.lang {
    margin-top: 20px;
    font-family: arial;
    font-size: 13px;
}

